<div class="container-fluid mainCont">
  <h2>Angular To-do List</h2>
  <div class="card">
    <h5 class="card-title">
      Tasks
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">
        Add
      </button>
    </h5>
    <div class="card-body">
      <app-item *ngFor="let item of list" [obj]="item" [deleteItem]="deleteItem.bind(this)"></app-item>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" #title id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="description">Short description</label>
            <textarea type="text" class="form-control" name="desc" #desc id="desc" placeholder="Description" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" #date id="date" placeholder="Date" required>
          </div>
          <div class="form-group">
            <label for="date">Photo</label>
            <input type="file" class="form-control" name="img" #img id="img" accept="image/*">
          </div>
          <div class="modal-footer">
            <button type="button" (click)="addItem()" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>